
*{box-sizing: border-box; margin: 0; padding: 0;}
.navbar{
    position: relative;
    width: 100%;
    background-color: #214252!important;
    padding: 10px 0;

}
.container-fluid{
    background-color: #214252;
}
.form-control{
    background-color: #214252!important;
}

*{
    padding: 0; margin: 0; box-sizing: border-box;
}
main{

    margin: 3rem 14rem 3rem 14rem;
}


